.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1184px;
  padding: 20px 96px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  position: absolute;
  z-index: 2;
}

.headerFixed {
  position: static;
  padding: 20px 0;
}

.logotype {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--text);
}

.navAndBut {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 92px;
}

/* style for tablet */
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header {
    justify-content: space-between;
    width: 720px;
    padding: 20px 24px;
  }

  .navAndBut {
    gap: 18px;
  }
}