.container {
    width: 100%;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
}

.appBar {
    width: 100%;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 88px;
    background-color: var(--main);
    z-index: -1;
}

.loadMoreBtnContainer {
    display: flex;
    justify-content: center;
}

.loadMoreBtn {
    border-radius: 30px;
    width: 159px;
    height: 48px;
    cursor: pointer;
    background: var(--main);
    border: none;
    margin: 64px 0 100px 0;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    transition: transform 0.3s ease;
}

.loadMoreBtn:hover {
    color: var(--hover);
    transform: scale(1.05);
}

@media screen and (max-width:1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    .appBar {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    .loadMoreBtn {
        margin: 48px 0 60px 0;
    }
}

@media screen and (max-width:770px) {
    .loadMoreBtn {
        margin: 32px 0 50px 0;
    }

    .appBar {
        padding: 0;
    }
}