.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
    box-sizing: border-box;

}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 88px;
    background-color: var(--main);
    z-index: -1;
}

