/* .container {
    width: 100%;
    max-width: 1376px;
    height: 736px;
    margin: 20px auto;
    padding-left: 96px;
    padding-right: 96px;
    background-color: var(--main);
    border-radius: 30px;
    box-sizing: border-box;
} */
