.link {
    /* display: inline-block; */
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--button-hover);
    font-family: var(--font-family);
    position: relative;
}

.mobileNav {
    display: none;
}

.active::after {
    content: "•";
    color: var(--button-hover);
    font-size: 28px;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.select {
    background-color: transparent;
    /* Прозорий фон */
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--button-hover);
    cursor: pointer;
}

.select option {
    color: var(--button-hover);
    background-color: var(--main);
}
.select option:hover {
    color: gray;
}

@media screen and (max-width: 780px) {
    .navigation {
        display: none;
    }

    .mobileNav {
        display: block
    }
}