.link {
    /* display: inline-block; */
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--button-hover);
    font-family: var(--font-family);
}

.active {}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 40px;
}