.buttons {
    display: flex;
    flex-wrap: nowrap;
}

.regButton {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 40px;
    background: var(--main);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.regButton:hover {
    color: var(--hover);
    transform: scale(1.05);
}


.logButton {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
    background: none;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    margin-right: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logButton:hover {
    color: var(--hover);
    transform: scale(1.05);
}

@media screen and (max-width: 800px) {
    .regButton {
        padding: 14px 20px;
        font-size: 14px;
    }

    .logButton {
        padding: 14px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .regButton {
        padding: 14px 10px;
        width: 70px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .logButton {
        padding: 14px 10px;
    }
}

@media screen and (max-width: 370px) {
    .regButton {
        padding: 14px 7px;
        width: 45px;

    }

    .logButton {
        padding: 14px 7px;
        width: 45px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}